
*.xcuserstate

MessageInABottle/MessageInABottle/MessageInABottle-Info.plist

MessageInABottle/MessageInABottle/ID-1008244.jpg

MessageInABottle/MessageInABottle.xcodeproj/xcuserdata/karls.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
